@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap");
.sobre-mi {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  color: #fff;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(66, 134, 244, 0.7),
    rgb(55, 59, 68, 0.7)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      rgb(66, 134, 244, 0.7),
      rgb(55, 59, 68, 0.7)
    ),
    url(https://i.pinimg.com/originals/04/bb/1e/04bb1ec93c6c223aa61e1479435bb6e7.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a{
  text-decoration: none;
}

.sobre-mi .texts {
  margin-top: 8rem;
  max-width: 1100px;
}

.sobre-mi h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 55px;
  color: black;
}
.sobre-mi h3 {
  font-size: 25px;
  text-decoration: underline;
}
.sobre-mi p {
  font-size: 20px;
  margin-bottom: 10px;
}

.logo {
  width: 150px;
  margin-right: 5px;
  border-radius: 50%;
}

.row {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.row .col-8 {
  width: 70%;
}
.row .col-4 {
  width: 10%;
  margin-top: 10%;
}

.row .col-4 nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.h3 {
  text-decoration: none !important;
  color: #000 !important;
}

.categorias-habilidades {
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.habilidades .categorias-habilidades .categoria {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 15px;
  margin: 20px 20px;
}

.habilidades .categorias-habilidades .categoria:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.habilidades .categorias-habilidades .categoria ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-sec {
  padding: 10px;
  background-color: #373b44;
}

.row .col-4 nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.row .col-4 nav a:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sobre_mi_p p {
  color: #fff !important;
}

.card {
  background-color: var(--background);
  display: block;
  width: 300px;
  min-height: 90px;
  border: 3px solid var(--primary);
  padding: 15px;
  margin: calc(15vh - 30px) auto 0 auto;
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.card h4 {
  color: #000 !important;
}

.card img {
  width: 100%;
}

.card:hover {
  top: -40px;
  left: 40px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
    0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
    0 0 0 -3px var(--background), 0 0 0 0 var(--red);
}
:root {
  --primary: #555bff;
  --secondary: #22d2a0;
  --background: white;
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
}

.card p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.card a,
.lugar_curso {
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 18px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
}
.card a:hover,
.lugar_curso:hover {
  text-decoration: underline;
}

h5,
h4,
.lugar_curso {
  color: #000;
}

.curso_link {
  font-family: "Big Shoulders Display", cursive;
}

.cursos{
  margin-bottom: 25px;
}

.cursos .card-cursos{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.slide-container {
  margin: auto;
  width: 300px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-right: 20px;
}

.wrapper:focus {
  outline: 0;
}

.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}
.clash-card__image--barbarian img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}

.clash-card__image--archer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
}
.clash-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.clash-card__image--giant {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
}
.clash-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.clash-card__image--goblin {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
}
.clash-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.clash-card__image--wizard {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
}
.clash-card__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #ec9b3b;
}

.clash-card__level--archer {
  color: #ee5487;
}

.clash-card__level--giant {
  color: #f6901a;
}

.clash-card__level--goblin {
  color: #82bb30;
}

.clash-card__level--wizard {
  color: #4facff;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
  color: #000 !important;
}

.clash-card__unit-stats--barbarian {
  background: #ec9b3b;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #bd7c2f;
}

.clash-card__unit-stats--archer {
  background: #ee5487;
}
.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #d04976;
}

.clash-card__unit-stats--giant {
  background: #f6901a;
}
.clash-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.clash-card__unit-stats--goblin {
  background: #82bb30;
}
.clash-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}

.clash-card__unit-stats--wizard {
  background: #4facff;
}
.clash-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  .row .col-4 nav a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .row .col-4,
  .row .col-8 {
    width: 100%;
  }
  .row .col-4 {
    margin-top: 25%;
    font-size: 12px;
  }
  .row .col-4 nav {
    padding: 15px;
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .row .col-4 nav a {
    font-size: 25px;
    margin-right: 10px;
  }

  .row .col-8 {
    margin-top: -20%;
  }
}
