.loader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
  background-color: white;
  position: absolute;
  z-index: 10000000000;
}

.loader svg {
  height: 100vh;
  width: 200px;
  display: block;
  margin: auto;
}
